html,body{
    overflow:hidden;
    overflow-y:auto;
}
* {
    margin:0;
    padding:0;
    border:none;
    font-family: -apple-system, "SF Pro SC", "HanHei SC", "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    -webkit-tap-highlight-color: transparent; 
}
body {
    background: url('../img/background.jpg');
}
.mt5 {
    margin-top: 5px;
}
.head-section {
    background: 
    url('../img/flower.png') center no-repeat,
    url('../img/flower2.png') center no-repeat;
    background-size: cover;
}
.header-bar {
    width: 100%;
    background-color: #d03e3f;
    height:60px;
}
.top-key {
    width: 100%;
	height:211px;
	position: relative;
	text-align: center;
    background-image:url('../img/top-picture2.png');
    background-size: cover;
    margin-top: 20px;
}
.key-title {
    font-family: PingFangSC;
    font-size: 15px;
    line-height: 0.13;
    letter-spacing: 1.2px;
    text-align: center;
    color: #ff8b76;
    padding-top: 10%;
}
.keywords {
    margin-top: 10px;
    width: 35%;
    margin-left: 33%;
}
.keyword {
    width: 55px;
    height: 11.5px;
    font-family: PingFangSC;
    font-size: 12px;
    line-height: 0.9;
    letter-spacing: 1.6px;
    text-align: left;
    color: #ffffff;
    padding:2px;
    display: inline-block;
    margin-top: 10px;
}
.keyword01 {
    border-radius: 4px;
    background-color: #ffab79;

}
.keyword02 {
    border-radius: 4px;
    background-color: #7fbbf2;

 
}
.keyword03 {
    border-radius: 4px;
    background-color: #a2d892;
}
.keyword04 {
    border-radius: 4px;
    background-color: #ff7f6e;
}
.report-detail-section {
    margin-top: 30px;
}
.report-detail {
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 2.4px 4.4px 16px 0 rgba(131, 47, 38, 0.19);
    margin: 0 10px 10px 10px;
    padding-bottom: 1px;
}
.report-header {
    height:40px;
    text-align: center;
}
.report-header-01 {
    height: 30px;
    width: 25%;
    background-position: 100% 50%;
    float: left;
}
.report-header-01 > img {
    width: 60%;
    height: 50%;
    padding: 17px 0 0 20px;
}
.report-header-02 {
    height: 30px;
    width: 25%;
    background-position: 0 50%;
    float: right;
}
.report-header-02 > img {
    width: 60%;
    height: 50%;
    padding: 17px 20px 0 0; 
}
.header-title {
    font-family: PingFangSC;
    font-size: 16px;
    line-height:3.2;
    letter-spacing: 1.4px;
    text-align: center;
    color: #ff8a75;
    width:auto;
    display: inline-block;
}
.report-detail-content {
    border: solid 1px #dcdcdc;
    font-family: PingFangSC;
    font-size: 15px;
    line-height: 1.83;
    letter-spacing: 0.6px;
    text-align: justify;
    color: #565656;
    padding:10px;
    margin:8px;
}
.report-detail-content > h5 {
    font-family: PingFangSC;
    font-size: 15px;
    line-height: 1.53;
    letter-spacing: 0.6px;
    text-align: justify;
    color: #6d9ad8;
}

.gary {
    display: inline-block;
    width: 16px;
    height:15.5px;
}
.gary > img {
    width: 100%;
    height: 100%;
}
.half-star {
    display: inline-block;
    width: 16px;
    height:15.5px;
}
.star {
    display: inline-block;
    width: 16px;
    height:15.5px;
}
.feeling-title {
    display: inline-block;
    font-family: PingFangSC;
    font-size: 15px;
    line-height: 1.53;
    letter-spacing: 0.6px;
    text-align: justify;
    color: #6d9ad8;
}
.feeling-stars {
    display: inline-block;
}
.view-report {
    border-radius: 8px;
    background-color: #ff7f68;
    font-family: PingFangSC;
    font-size: 18px;
    line-height: 2.8;
    letter-spacing: 0.7px;
    text-align: center;
    color: #ffffff;
    margin: 15px 10px 10px 10px;
    cursor: pointer;
}
.homeResultShow {
    display: none;
}
.bottom-banner {
    margin: 15px 10px 0 10px;
    height: 78px;
    background-image: url('../img/bottom-banner.jpg');
    background-size: 100% 100%;
    border-radius: 8px;
    cursor: pointer;
}
.iphoneXAdaptation {
    height: 24px;
    width: 100%;
    display: none;
}

/*iphone5*/
@media screen and (min-width: 310px) and (max-width: 359px) {
    .keywords {
        width: 40%;
        margin-left: 30%;
    }
}