.wxShare-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-size: cover;
  overflow: hidden;
  .header-content {
    position: relative;
    margin: .41rem .2rem 0 .2rem;
    .txt {
      position: absolute;
      width: 58%;
      height: 0.38rem;
      top: 19%;
      left: 0;
      right: 0;
      margin: auto;
      font-size: 16px;
      text-align: center;
      color: #fff;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .avator1 {
      position: absolute;
      bottom: 18.2%;
      left: 10.5%;
      height: 1.4rem;
      width: 1.4rem;
      border: 1px solid #ffffff;
      border-radius: 50%;
      overflow: hidden;
    }
    .avator2 {
      position: absolute;
      bottom: 18.2%;
      right: 10.5%;
      height: 1.4rem;
      width: 1.4rem;
      border: 1px solid #ffffff;
      border-radius: 50%;
      overflow: hidden;
    }
  }
  .user-info-content {
    position: relative;
    min-height: 6.7rem;
    margin: 0.47rem .21rem 0 .21rem;
    background-size: 100% 100%;
    overflow: hidden;
    .input-group {
      margin: 1.5rem 0.36rem 0.2rem 0.36rem;
      .input-content {
        position: relative;
        display: flex;
        height: 1.15rem;
        border-bottom: solid 1px #9585e6;
        font-size: 18px;
        color: #ffffff;
        @media screen and (min-width: 320px) and (max-width: 359px) {
          font-size:15px;
        }
        label {
          display: inline-block;
          width: 2rem;
          margin-left: 0.13rem;
          line-height: 1.15rem;
        }
        input {
          /* line-height: 1.15rem; */
          color: #fff;
          font-size: 18px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          @media screen and (min-width: 320px) and (max-width: 359px) {
            font-size:15px;
          }
        }
        .sex {
          position: absolute;
          right: 0.41rem;
          top: 0.4rem;
          display: flex;
          border-radius: 5px;
          overflow: hidden;
          .sex-option {
            width: 0.61rem;
            height: 0.44rem;
            line-height: 0.44rem;
            font-size: 12px;
            text-align: center;
            color: #463c95;
            background-color: #31107d;
          }
          .checked {
            background-color: #ffcc33;
            color:#403799;
          }
        }
      }
    }
  }
  .btn {
    width: 2.58rem;
    margin: 0.45rem auto 0.38rem auto;
  }
}
#input-name {
  width: 2.5rem !important;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  font-size: 16px;
  color: #bbacc9;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-size: 16px;
  color: #bbacc9;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-size: 16px;
  color: #bbacc9;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-size: 16px;
  color: #bbacc9;
}


/* iphone5 */

@media screen and (min-width: 320px) and (max-width: 359px) {
   ::-webkit-input-placeholder {
    /* WebKit browsers */
    font-size: 14px;
    color: #bbacc9;
  }
   :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-size: 14px;
    color: #bbacc9;
  }
   ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-size: 14px;
    color: #bbacc9;
  }
   :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-size: 14px;
    color: #bbacc9;
  }
}
