body,html{
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
body{
    padding: 0 !important;
    margin: 0 !important;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    /*-webkit-text-size-adjust:none;*/
    /*-webkit-overflow-scrolling: touch;*/
    background-color: #fff9f1;
}
.hidden{
    display: none !important;
}
.mask {
    opacity: 0.4;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
}
.main{
    margin: 15px;
}
.index_main{
    margin:0 15px;
}
.topBanner{
    width: 190px;
    height: 75px;
    background-image: url("../img/bzhh/hl-bzhh-top-tit@2x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 190px 75px;
}
.descContent{
    position: relative;
    margin: 10px auto 25px;
    padding: 15px;
    background-color: #fff9f1;
    border: 1px solid #F9D4AD;
    font-size: 12px;
    line-height: 1.67em;
    color: #666666;
}
.corner {
    position: absolute;
    height: 10px;
    width: 10px;
    border: 1px solid #F9D4AD;
    background-color: #fff9f1;
}
.top-left {
    top: -1px;
    left: -1px;
    border-radius: 0 0 100% 0;
    border-width: 0 1px 1px 0;
}
.top-right {
    top: -1px;
    right: -1px;
    border-radius: 0 0 0 100%;
    border-width: 0 0 1px 1px;
}
.bottom-left {
    bottom: -1px;
    left: -1px;
    border-radius: 0 100% 0 0;
    border-width: 1px 1px 0 0;
}
.bottom-right {
    bottom: -1px;
    right: -1px;
    border-radius: 100% 0 0 0;
    border-width: 1px 0 0 1px;
}
.nameContent{
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: -ms-box;
    margin-bottom: 15px;
}
.maleNameTxt{
    display: block;
    -webkit-appearance: none;
    width: 100%;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    color: #333333;
    text-indent: 10px;
    border: 1px solid #999999;
    border-radius: 5px;
    padding: 0;
    background-color: transparent;
    box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    -ms-box-flex: 1;
}
.maleIcon{
    width: 88px;
    height: 42px;
    margin-left: 5px;
    background-image: url("../img/bzhh/hl-bzhh-nanfsc-img@2x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px 20px;
}
.maleDateContent{
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: -ms-box;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dfdfdf;
}
.ui-select{
    position: relative;
    height: 44px;
    border-radius: 5px;
    border: 1px solid #999999;
}
.ui-select span {
    display: block;
    width: 100%;
    height: 42px;
    line-height: 42px;
    text-indent: 10px;
    text-overflow: ellipsis;
    overflow: hidden!important;
    white-space: nowrap;
    font-size: 15px;
    color: #333333;
}
.ui-select select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    height: 3em;
    max-height: 100%;
    outline: 0;
    -webkit-border-radius: inherit;
    border-radius: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    filter: Alpha(Opacity=0);
    opacity: 0;
    z-index: 2;
}
#femaleBornInput,#maleBornInput{
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
    border: 0;
    text-indent: 10px;
    height: 42px;
    line-height: 42px;
    padding: 0;
    font-size: 18px;
    color: #333333;
}
.ui-select span:after,.bornDate:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -3px;
    display: block;
    width: 10px;
    height: 5px;
    background: url("../img/bzcs/small-down-arrow@2x.png") 0 0 no-repeat;
    background-size: 10px 5px;
}
.bornDate{
    width: 100%;
    box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    -ms-box-flex: 1;
}
.bornTime{
    width: 88px;
    margin-left: 5px;
}
.femaleIcon{
    background-image: url("../img/bzhh/hl-bzhh-nufsc-img@2x.png");
}
.femaleDateContent{
    border-bottom: 0;
}
.confirmBtn {
    display: block;
    width: 100%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    background-color: #d93448;
    border-radius: 5px;
}
.recordLink {
    display: block;
    margin: 15px 0 50px;
    width: 100%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 18px;
    color: #333333;
    border: 1px solid #666666;
    border-radius: 5px;
}
.yiqiDesc{
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #999999;
    bottom:0;
    margin: 10px 0;
}
.resultDesc{
    margin: 20px 0 10px;
}
.zhuanjiaLink {
    color: #333333;
    text-decoration: underline;
}
/*选择日期modal开始*/
#datePickModal{
    width: 300px;
    margin-left: -150px;
    top: 50%;
    margin-top: -75px;
}
.modal-backdrop{
    background-color: #000000;
}
.modaliOSStyle.modal{
    border: 0;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -webkit-box-shadow: 0 0 21px rgba(22,22,22,0.21);
    -moz-box-shadow: 0 0 21px rgba(22,22,22,0.21);
    box-shadow: 0 0 21px rgba(22,22,22,0.21);
}
.modaliOSStyle.modal.fade.in{
    top: 30%;
}
.modaliOSStyle .modal-body{
    text-align: center;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    color: #000000;
    padding: 15px 5px 10px;
}
#datePickModal .modal-body{
    height: 95px;
}
.lunarSelectContent{
    float: right;
    height: 32px;
}
.lunarSelectContent input{
    width: 44px;
    height: 32px;
    -webkit-appearance: none;
    background-color: #f4cf4e;
    border: none;
    border-radius: 0;
    padding: 0;
    color: #555555;
    float: right;
}
.descTitle {
    width: 100%;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    color: #7d7d7d;
}
.descTitle{
    clear: both;
}
.leftDesc {
    float: left;
}
.lunarSelectContent input.active{
    background-color: #d93448;
    color: #ffffff;
}
.datePickContent{
    height: 35px;
    margin-top: 10px;
}
.sDateContent .ui-select,.lDateContent .ui-select{
    float: left;
    width: 87px;
    height: 35px;
}
.sMonthUISelect,.lMonthUISelect{
    margin: 0 10px;
}
#datePickModal .ui-select span{
    height: 35px;
    line-height: 35px;
}
.selectTxt{
    text-align: left;
}
/*选择日期modal结束*/
#tipModal{
    top: 50%;
    margin-top: -65px;
}





/*免费结果页*/
.summary {
    height: 90px;
    padding-bottom: 15px;
    border-bottom: solid 1px #dfdfdf;
    overflow: hidden;
}
#score {
    width: 90px;
    height: 90px;
    background-image: url("../img/hl-df-box-bg@2x.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 90px 90px;
    font-size: 12px;
    float: left;
    text-align: center;
    line-height: 90px;
    color: #d93448;
}
#score .count {
    font-size: 50px;
}
.info {
    height: 90px;
    float: left;
    margin-left: 20px;
}
.nameContent{
    font-size: 13px;
    color: #999999;
}
.rateStringContent{
    margin: 10px 0;
    font-size: 24px;
    color: #dc915b;
}
.percentContent{
    font-size: 13px;
    color: #111111;
}
.descContent1{
    position: relative;
    margin: 25px auto;
    padding: 15px;
    background-color: #fff9f1;
    border: 1px solid #F9D4AD;
    font-size: 13px;
    color: #111111;
}
.descWrapper{
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: -ms-box;
}
.rightDescContent{
    width: 100%;
    box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    -ms-box-flex: 1;
}
.descItemLine{
    height: 15px;
    margin-bottom: 15px;
}
.descItemLine:last-child{
    margin-bottom: 0;
}
.descItemLine>div{
    float: left;
}
.descItemIcon{
    width: 11px;
    height: 11px;
    margin: 2px 10px 2px 0;
    background-image: url("../img/bzhh/hl-title-icon@2x.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 11px 11px;
}
.descItemTxt{
    height: 15px;
    line-height: 15px;
}
.descItemHot{
    width: 13px;
    height: 15px;
    margin-left: 10px;
    background-image: url("../img/bzhh/hot-icon@2x.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 13px 15px;
}
.viewDetail {
    display: block;
    width: 100%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    background-color: #d93448;
    border-radius: 5px;
    margin-top: 25px;
}
.yiqibaziLink {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
}
.bannerImg {
    display: block;
    width: 100%;
    height: auto;
}
#dvPay{
    width: auto;
    margin-left: 0;
    left: 15px;
    right: 15px;
    top: 50%;
    margin-top: -129px;
}
#dvPay .modal-header{
    height: 51px;
    line-height: 51px;
    padding:0 15px;
    border-bottom: 1px solid #dfdfdf;
}
.zhifuTxt{
    font-size: 21px;
    color: #111111;
}
.zhifuCount{
    font-size: 21px;
    color: #d93448;
}
#dvPay .modal-body{
    text-align: left;
    height: auto;
    line-height: 1em;
    padding: 15px 15px 5px;
    border-bottom: 1px solid #dfdfdf;
}
#dvPay .introTitle{
    font-size: 14px;
    color: #111111;
}
.pickConfirmBtn{
    display: block;
    margin: 15px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 18px;
    color: #111111;
    border: 1px solid #666666;
    border-radius: 5px;
}
.zhifuIcon{
    float: left;
    margin-left: 15px;
    width: 99px;
    height: 100%;
    background-image: url("../img/bzcs/pop-zfb-logo-img@2x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 99px 29px;
}
.zhifuTipTxt{
    float: right;
    height: 44px;
    line-height: 44px;
    margin-right: 10px;
    font-size: 18px;
    color: #111111;
}
.zhifuArrow{
    float: right;
    width: 8px;
    height: 100%;
    margin-right: 15px;
    background-image: url("../img/bzcs/more-gray-arrow-icon@2x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 8px 13px;
}
.projectContent{
    width: 100%;
    height: 85px;
    margin: 10px 0 0;
}
.leftProjectContent{
    float: left;
    width: 50%;
    height: 95px;
}
.rightProjectContent{
    float: right;
    width: 50%;
    height: 95px;
}
.projectLine,.lastIfoLine{
    clear: both;
    height: 14px;
    line-height: 14px;
    font-size: 12px;
    color: #666666;
    margin-bottom: 5px;
}
.projectLine:last-child{
    margin-bottom: 0;
}
.projectIcon{
    float: left;
    width: 6px;
    height: 6px;
    background: #F9D4AD;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 4px 0;
}

.rightInfoContent{
    float: left;
}
.rightArrow{
    float: right;
    width: 8px;
    height: 100%;
    background-image: url("../img/bzcs/more-arrow-icon@2x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 8px 13px;
}
.lastIfoLine{
    margin-top: 5px;
    margin-bottom: 0;
}


.hhInfoTitle{
    position: relative;
    height: 35px;
    margin: 20px auto 15px;
}
.titleIcon {
    position: absolute;
    left: 15px;
    z-index: 100;
    width: 11px;
    height: 35px;
    background-image: url("../img/hl-title-icon@3x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 11px 11px;
}
.titleTxt {
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    color: #9f4200;
    text-indent: 10px;
    text-align: left;
    margin: 0 20px;
    background-image: url("../img/hl-h5-title-boxin-img01@3x.png");
    background-position: 30px 0;
    background-repeat: repeat-x;
    background-size: 1px 35px;
}
.titleTxt span{
    color: #d93448;
}
.leftRadius, .rightRadius {
    position: absolute;
    top: 0;
    width: 20px;
    height: 35px;
    background-image: url("../img/hl-h5-title-box-img01@3x.png");
    background-repeat: no-repeat;
    background-size: 50px 35px;
}
.leftRadius {
    left: 0;
    background-position: 0 0;
}
.rightRadius {
    right: 0;
    background-position: -30px 0;
}
.hhInfoTxt{
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15px;
    color: #333333;
    line-height: 1.67em;
}
.historyItem{
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: -ms-box;
    margin-bottom: 15px;
    overflow: hidden;
}
.historyItem:last-child {
    margin-bottom: 70px;
    padding-bottom: 70px;
}
.deleteItemContent{
    width: 0;
    height: 77px;
    margin-right: 0;
    background-image: url("../img/bzcs/hl-edit-mode-icon-normal@2x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px 25px;
}
.deleteItemContent.active{
    background-image: url("../img/bzcs/hl-edit-mode-icon-active@2x.png");
}
.itemLink {
    display: block;
    width: 100%;
    position: relative;
    background-color: #fff9f1;
    border: 1px solid #F9D4AD;
}
.textContent{
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: -ms-box;
}
.txtDescContent{
    box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    -ms-box-flex: 1;
    text-indent: 40px;
}
.arrowContent{
    width: 8px;
    height: 72px;
    margin-right:  15px;
    background-image: url("../img/bzcs/more-arrow-icon@2x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 8px 13px;
}
.scoreContent{
    font-size: 12px;
    color: #d93448;
    width: 86px;
    text-align: center;
    padding: 15px 0;
    border-right: 1px solid #F9D4AD;
}
.scoreCount{
    font-size: 36px;
}
.nameItem{
    font-size: 15px;
    color: #111111;
    padding-top: 10px;
}
.descItem{
    font-size: 24px;
    color: #dc915b;
    margin-top: 5px;
}
.fixedEditContent{
    position: fixed;
    width: 100%;
    height: 60px;
    left: 0;
    bottom: 0;
    -webkit-box-shadow: 0 -2px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 -2px rgba(0,0,0,0.05);
    box-shadow: 0 -2px rgba(0,0,0,0.05);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(254,254,254,0.9)), to(rgba(254,254,254,1)));
    background-image: -webkit-linear-gradient(top, rgba(254,254,254,0.9), rgba(254,254,254,1));
    background-image: -moz-linear-gradient(top, rgba(254,254,254,0.9), rgba(254,254,254,1));
    background-image: -o-linear-gradient(top, rgba(254,254,254,0.9), rgba(254,254,254,1));
    background-image: -ms-linear-gradient(top, rgba(254,254,254,0.9), rgba(254,254,254,1));
    background-image: linear-gradient(to bottom, rgba(254,254,254,0.9), rgba(254,254,254,1));
}
.editContent,.operateContent{
    width: 100%;
    height: 100%;
}
.editBtn{
    display: block;
    width: 150px;
    height: 30px;
    margin: 14px auto;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    font-size: 17px;
    color: #333333;
    text-align: center;
    line-height: 32px;
}
.operateBtnList{
    width: 320px;
    height: 32px;
    margin: 14px auto;
}
.operateBtnList a{
    float: left;
    width: 98px;
    height: 30px;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    font-size: 17px;
    color: #333333;
    text-align: center;
    line-height: 32px;
}
.operateBtnList a.allBtn{
    margin-left: 10px;
    margin-right: 10px;
}
.operateBtnList a.deleteBtn{
    color: #d93448;
}
.deleteString{
    font-size: 18px;
    color: #d93448;
}
.doubleBtn .modal-footer {
    font-size: 0;
    border-top: 1px solid #dedede;
}
.doubleBtn .btn {
    font-size: 18px;
    border-top: 0;
}
.doubleBtn .modal-footer .btn+.btn {
    border-left: 1px solid #dedede;
}
#cancelDelete{
    color: #111111;
}
#confirmDelete{
    color: #999999;
}
#deleteConfirModal{
    top: 50%;
    margin-top: -65px;
}
.wnlBannerLink {
    width: 100%;
    height: 42px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
    background-image: url("../img/wnlBannerLink_bg@2x.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: -ms-box;
}
.downIcon {
    margin-left: 15px;
    width: 38px;
    height: 42px;
    background-image: url("../img/ad-wnl-logo@2x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 38px 38px;
}
.downTxt {
    box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    -ms-box-flex: 1;
    margin-left: 10px;
    margin-right: 25px;
}
.txtContainer {
    display: table;
    height: 42px;
}
.txtWrapper {
    display: table-cell;
    height: 42px;
    vertical-align: middle;
}
.downTxtImg {
    display: block;
    width: 100%;
    height: auto;
    max-width: 187px;
    vertical-align: middle;
}
.downBtnImg {
    margin-right: 15px;
    width: 74px;
    height: 42px;
    background-image: url("../img/wnlBannerLink_button@2x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 74px 29px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 3),
only screen and (-o-min-device-pixel-ratio: 6/2),
only screen and (min--moz-device-pixel-ratio: 3),
only screen and (min-device-pixel-ratio: 3) {
    .topBanner{
        background-image: url("../img/bzhh/hl-bzhh-top-tit@3x.png");
    }
    .maleIcon{
        background-image: url("../img/bzhh/hl-bzhh-nanfsc-img@3x.png");
    }
    .ui-select span:after,.bornDate:after {
        background: url("../img/bzcs/small-down-arrow@3x.png") 0 0 no-repeat;
    }
    .femaleIcon{
        background-image: url("../img/bzhh/hl-bzhh-nufsc-img@3x.png");
    }
    #score {
        background-image: url("../img/hl-df-box-bg@3x.png");
    }
    .descItemIcon{
        background-image: url("../img/bzhh/hl-title-icon@3x.png");
    }
    .descItemHot{
        background-image: url("../img/bzhh/hot-icon@3x.png");
    }
    .zhifuIcon{
        background-image: url("../img/bzcs/pop-zfb-logo-img@3x.png");
    }
    .zhifuArrow{
        background-image: url("../img/bzcs/more-gray-arrow-icon@3x.png");
    }
    .rightArrow{
        background-image: url("../img/bzcs/more-arrow-icon@3x.png");
    }
    .deleteItemContent{
        background-image: url("../img/bzcs/hl-edit-mode-icon-normal@3x.png");
    }
    .deleteItemContent.active{
        background-image: url("../img/bzcs/hl-edit-mode-icon-active@3x.png");
    }
    .arrowContent{
        background-image: url("../img/bzcs/more-arrow-icon@3x.png");
    }
    .wnlBannerLink {
        background-image: url("../img/wnlBannerLink_bg@3x.jpg");
    }
    .downIcon {
        background-image: url("../img/ad-wnl-logo@3x.png");
    }
    .downBtnImg {
        background-image: url("../img/wnlBannerLink_button@3x.png");
    }
}

@media only screen and (max-device-height:440px){
    .yiqibaziLink{
        position: static;
    }
}
@media only screen and (max-device-width:320px){
    .bornDate:after{
        right: 5px;
    }
    .bornTime{
        width: 78px;
    }
}