@import '../css/base.scss';
.content {
    height: 100vh;
    box-sizing: border-box;
    padding-bottom: 80px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: #eee;
    .nouser {
        text-align: center;
        img {
            width:141px;
            height: 85px;
            margin: 138px auto 0;
        }
        .nouser_tip {
            margin: 15px auto;
            color: #BEBEBE;
            font-size: 15px;
        }
    }
    .userlist {
        margin: 10px 10px 0 10px;
        .item {
            height: 101px;
            background-color: #fff;
            box-sizing: border-box;
            padding: 0 10px;
            margin-bottom: 10px;
            // border: 1px solid #F5A623;
            border: 1px solid transparent;         
            .item_top {
                display: flex;
                justify-content: space-between;
                height: 60px;
                line-height: 60px;
                color: #615A50;
                font-size: 17px;
            }
            .itemline {
                height: 1px;
                background-color: #EAEAEA;
            }
            .item_bottom {
                display: flex;
                justify-content: flex-end;
                height: 40px;
                align-items: center;
                .bj, .sc {
                    display: flex;
                    align-items: center;
                    color: #615A50;
                    font-size: 13px;
                    .bj_icon {
                        background: url('https://qiniu.image.cq-wnl.com/content/20180425c2a5f11ff8044a9abb36c7801ea086dd.png') no-repeat;
                    }
                    .sc_icon {
                        background: url('https://qiniu.image.cq-wnl.com/content/201804253375cd9696a847f9b65b0f960d5a4a88.png') no-repeat;
                    }
                    .bj_icon, .sc_icon {
                        width: 15px;
                        height: 15px;
                        margin-right: 5px;
                        background-size: cover;
                    }
                }
                .sc {
                    margin-left: 17px;
                }
            }
        }
    }
}
.actborder {
    border: 1px solid #F5A623 !important;
} 
.modal {
    transition: all .3s;
    .con {
        position: fixed;
        width: 200px;
        // height: 150px;
        background-color: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 4px;
        box-sizing: border-box;
        overflow: hidden;
        z-index: 400;
        .top {
            height: 70px;
            line-height: 70px;
            font-size: 15px;
            text-align: center;
            color: #333;
        }
        .bottom {
            display: flex;
            height: 40px;
            line-height: 40px;
            font-size: 15px;
            border-top: 1px solid #eee;
            .qx, .qd {
                // flex: 1;
                width: 50%;
                text-align: center;
                box-sizing: border-box;
                line-height: 40px;
                color: #333;
            }
            .qx {
                border-right: 1px solid #eee;
            }
            .qd {
                color: green;
            }
        }
    }
}
._hidden {
    visibility: hidden !important;
    opacity: 0 !important;
}
.addactive {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .1);
}